In [321]:
import urllib
import os
import sys
import shutil
import zipfile
import pandas as pd
import numpy as np

In [375]:
!ls ./data/bank

bank     bank.zip data.npy

In [380]:
np.load('./data/bank/data.npy')[0]

array(['58', '"management"', '"married"', '"tertiary"', '"no"', '2143',
       '"yes"', '"no"', '"unknown"', '5', '"may"', '261', '1', '-1', '0',
       '"unknown"', '"no"'], dtype='<U15')

In [341]:
datasets = [
    'adult',
    'mushroom',
    'credit',
    'bankruptcy',
    'madelon'
]

dataset_urls = {
    'adult'      : ('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/', ['adult.data']),
    'mushroom'   : ('https://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/', ['agaricus-lepiota.data']),
    'credit'     : ('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/', ['crx.data']),
#     'madelon'    : ('https://archive.ics.uci.edu/ml/machine-learning-databases/madelon/MADELON/', ['madelon_train.data', 'madelon_valid.data', 'madelon_test.data'])
    # 'bankruptcy' : ('https://archive.ics.uci.edu/ml/machine-learning-databases/00365/', ['data.zip']),
}

In [361]:
# Create tmp for downloading files
# Create datasets file
# Loop over dataset urls. If data does not exist, or overwrite specified
#     Download all files corresponding to each name
#     Merge files in list
#     Apply preprocessor to each file
#     Convert to (x, y) numpy format and save
# Delete tmp file

~np.array(False)

True

In [354]:
from sklearn.preprocessing import OrdinalEncoder

x = np.array([['A.', 'A.', 'B.', 'C.']]).T
oe = OrdinalEncoder()

oe.fit_transform(x)

array([[0.],
       [0.],
       [1.],
       [2.]])

In [359]:
def download_datasets(root_dir, dataset_urls):
    
    # Temporary dir for downloading datasets
    tmp_dir = root_dir + '/tmp'
    
    if os.path.exists(tmp_dir):
        shutil.rmtree(tmp_dir)
        
    os.mkdir(tmp_dir)
    
    # Loop over datasets and download them into tmp
    for dataset_name, location in dataset_urls.items():
        
        print(f'Downloading {dataset_name} dataset')
        os.mkdir(f'{tmp_dir}/{dataset_name}')
        
        # Base URL for dataset in UCI, and individual file names to download
        base_url, file_names = location
        
        data = []
        for file_name in file_names:
            
            url = f'{base_url}/{file_name}'
            file_location = f'{tmp_dir}/{dataset_name}/{file_name}'
            urllib.request.urlretrieve(url, file_location)
            
            data.append(np.loadtxt(file_location, dtype=str, delimiter=','))
            
        data = np.concatenate(data, axis=0)
        np.save(f'{tmp_dir}/{dataset_name}/data.npy', data)

In [360]:
download_datasets(root_dir=root_dir, dataset_urls=dataset_urls)

Downloading adult dataset
Downloading mushroom dataset
Downloading credit dataset

In [ ]:
def preprocess_regression_dataset():
    
    # Convert categorical inputs to binary
    # Scale scalar inputs
    # Scale outputs
    
    pass


def preprocess_classification_dataset():
    
    # Convert categorical inputs to binary
    # Scale scalar inputs
    # Scale outputs
    
    pass

In [325]:
def download_adult(root_dir):
    
    urls = ['https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',
            'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test']
    
    lines = []
    
    for url in urls:
        
        save_location = f'{root_dir}/adult/'
        
        shutil.rmtree(save_location)
        os.mkdir(save_location)
        
        urllib.request.urlretrieve(url, f'{save_location}/tmp.data')
        
        dataframe = pd.read_csv(f'{save_location}/tmp.data', header=None)
        
        dataframe = dataframe[~df.eq(' ?').any(1)]
        
        return dataframe
            
    
    
#     dataset_urls = {
#     'adult'      : ('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/', ['adult.data', 'adult.test']),
#     'mushroom'   : ('https://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/', ['agaricus-lepiota.data']),
#     'credit'     : ('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/', ['crx.data']),
# #     'madelon'    : ('https://archive.ics.uci.edu/ml/machine-learning-databases/madelon/MADELON/', ['madelon_train.data', 'madelon_valid.data', 'madelon_test.data'])
#     # 'bankruptcy' : ('https://archive.ics.uci.edu/ml/machine-learning-databases/00365/', ['data.zip']),
# }

In [303]:
df = download_adult(root_dir='./tmp/')

In [305]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [319]:
df.to_numpy().astype('str')

array([['39', ' State-gov', '77516', ..., '40', ' United-States',
        ' <=50K'],
       ['50', ' Self-emp-not-inc', '83311', ..., '13', ' United-States',
        ' <=50K'],
       ['38', ' Private', '215646', ..., '40', ' United-States',
        ' <=50K'],
       ...,
       ['58', ' Private', '151910', ..., '40', ' United-States',
        ' <=50K'],
       ['22', ' Private', '201490', ..., '20', ' United-States',
        ' <=50K'],
       ['52', ' Self-emp-inc', '287927', ..., '40', ' United-States',
        ' >50K']], dtype='<U27')